<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <style>
    #app{
  
    height: 600px;
    padding-top: 100px;
}

.interest{
    margin: 0 auto;
background-color:rgb(155, 133, 133);
height: 400px;
width: 50%;
font-size: 25px;
}
.button{
  display: inline-block;
  width: 100px;
  margin: 10px;
  padding-left: 10px; 
  
}
.title{
  text-align: center;
  padding-top: 20px;
  color: brown;
}

    
    </style>
</head>
<body>
    <div id="app">
        <div class="interest">
            <h3 class="title">SIMPLE INTEREST CALCULATOR</h3>
            <label class="button">Principal:</label>
            <input type="number" v-model="principal"><br>
            <label class="button" >Rate:</label>
            <input type="number" v-model="rate"><br>
            <label class="button">Time:</label>
            <input type="number" v-model="time"><br>
            <div id ="button">The Simple Interest is {{result()}}</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    new Vue ({
  el: '#app',
  data:{
    principal: null,
    rate: null,
    time: null,
  },
  methods:{
    result: function(){
      let simple= (this.principal*this.rate*this.time)/100;
      return simple;
    }
  }
})
    
    
    
    
    </script>
</body>
</html>